.header_text{
    background-color: #000 !important;
    color:#fff;
    min-height: 35px;
}
.logo{
  text-align: center;
}
.logo img{
    width:100px;
    margin-left: auto;
    margin-right: auto;
}
.header_contact{
    float: left;
    padding: 5px 10px;
}
.header_contact span{
    padding: 10px;
}
.header_form{
    float: right;
    padding-right: 20px;
}
.header_form button{
    float: left;
    padding:5px 10px;
    margin:0px 10px;
    background-color: #000;
    border:0px;
    border-radius: 0px;
}
.header_form a{
text-decoration: none;
color:#fff;
}
.btn-primary:hover{
    background-color:#ff6701 !important;
    border:0px;
}
.header_form a{
  float: left;
  padding:5px 10px;
  margin:0px 10px;
  background-color: #000 !important;
  border:0px;
  border-radius: 0px;
}
.fa-cart-arrow-down{
  padding-top: 8px;
}
/* Header Css Ends*/
/* Navbar */
.nav-link{
    padding: 5px 15px !important;
    margin:0px 40px;
    color: #fff !important;
    background-color:#ff6701 !important;
    border-radius: 2px;
}
.nav-link{
  color:#fff;
  text-decoration: none;
}
.nav-link:hover{
    background-color: #000 !important;
}
.navbar{
margin-top: 20px;
margin-bottom: 15px;
}
.navbar a{
  color:#fff;
  }
.navbar a:hover{
  color:#fff;
  text-decoration: none;
  }
.navbar .dropdown-item{
  background-color: #ff6701;
  margin-bottom:1px;
}

.navbar .dropdown-item:hover{
  background-color: #000;
}
.navbar .dropdown-item a{
color: orange;
}
/* Navbar Ends */